<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/template}"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <head>
        <title>Pizza Party Admin Console</title>
    </head>
    <body>
    	<div layout:fragment="content" class="container">

	    	<div class="jumbotron">
	        <h1>Admin Console</h1>
	        
	        <form action="#" th:action="@{/notifyAll}" th:object="${notifyAll}" method="post">
		        <p><input type="submit" value="Notify All" /> </p>
		    </form>
			</div>
		</div>
    </body>
</html>