<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/template}">
<head>
<head>
    <title>Pizza Party Notifying Status</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div layout:fragment="content" class="container">

	    <div class="jumbotron">
		<p>...Notifying all contacts, now in progress!</p>
	    <a href="/admin">Submit another request</a>
	    </div>
	</div>
    
</body>
</html>